In [1]:
import os
import io
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
ICGC_SAMPLE_ID = 'SA320818' #Sample we are reading
df = pd.read_csv('E:/Sequencing/simple_somatic_mutation/samples/' + ICGC_SAMPLE_ID + '.tsv', \
                 sep = '\t', low_memory=False)

In [6]:
pd.set_option('display.max_columns', 5000)

In [7]:
df.head()

,icgc_sample_id,chromosome,chromosome_start,chromosome_end,chromosome_strand,mutation_type,reference_genome_allele,mutated_from_allele,mutated_to_allele,total_read_count,mutant_allele_read_count,consequence_type,gene_affected,transcript_affected
0,SA320818,3,147424632,147424632,1,deletion of <=200bp,T,T,-,41.0,13.0,intergenic_region,NaN,NaN
1,SA320818,3,147424632,147424632,1,deletion of <=200bp,T,T,-,35.0,12.0,intergenic_region,NaN,NaN
2,SA320818,5,75054899,75054899,1,single base substitution,C,C,T,25.0,18.0,intergenic_region,NaN,NaN
3,SA320818,15,60419020,60419020,1,single base substitution,C,C,T,42.0,8.0,intergenic_region,NaN,NaN
4,SA320818,17,71121414,71121414,1,insertion of <=200bp,-,-,A,30.0,12.0,intergenic_region,NaN,NaN

In [ ]:
#5,9-12,14-17,20-21,26,29-30